body {
    background:white url('body-bg.jpg');
}
 
.clearfix:after {
    display:block;
  clear:both;

}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background:black;
}
 
.menu {
    width:1200px;
    margin:30px auto;
}
 
.menu li {
    
    font-family:'Ek Mukta';
}
 
.menu a 
{  
    transition:all linear 0.22s;
    color:#919191;
   vlink text-decoration:none;
}
 
.menu li:hover > a, .menu .current-item > a {
    color:black;background:#1F5C3D;
    text-decoration:none;
    font-size:20px;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.2);
}
 
/*----- Bottom Level -----*/
.menu :hover > .sub-menu{
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:all linear 0.22s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#1F5C3D;
    font-size:17px;
}


.welcome{

   width:300px;
}

.site-help h2
{ 
  margin:60px 25px 30px;
}

.site-help h3
{
  margin:30px 25px 10px;
}


.site-help p
{
  margin:00px 25px;
 }

.page{position:relative;bottom:20px;}

.contests
{
  margin:60px 45px 10px;
}

.row p
{ 
  margin:10px 50px;
  font-size:17px;  
}
  
.col-md-4 marquee
{
  margin:15px 50px;
 width:250px;
  height:200px;
 position:relative;
 border-top:1px midnightblue solid;
 border-bottom:1px midnightblue solid;
}

.col-md-4 marquee a:hover
{ font-size:18px;
  color:maroon;  
  }


.row2 .row a
{
  color:midnightblue;
  text-decoration:none;
  transition:all linear 0.1s;
}

.row2 .row p a:hover 
{
  color:maroon;
  font-size:18px;
  transition:all linear 0.1s;
}

.row h3
{ margin:35px 28px 10px;   }

.site-help-right
{
 margin:80px; 
}

.site-help-right p
{
position:relative;
 right:21px;
}

.vertical-bar li
{
  display:block;
  background-color:gray;
  width:270px;
  height:30px;
  position:relative;
  right:30px;
  font-size:16px;
 
}

.vertical-bar a
{
  text-decoration:none;
  color:midnightblue;
  position:relative;
  left:15px;
  top:2px;
  font-size:14px;
  
}


.vertical-bar li:hover,.vertical-bar a:hover
{
  background-color:#1F5C3D;
  font-size:16px;
  transition:all linear 0.15s;
}

.vertical-bar a:hover{  color:white;position:relative;top:3px;}

.vertical-bar li:hover > a{ color:white; font-size:16px; position:relative;top:3px; transition:all linear 0.15s}

.vertical-bar .current{ background-color:#1F5C3D;height:30px; }
.vertical-bar .current a{ color:white;font-size:16px; position:relative;top:3px; }

.yc-heading
{
 margin:40px 400px 10px;  
}

.yc-headings h3
{
  position:relative;
  left:20px;
}

.yc-headings1{ 
position:relative;
right:15px;
bottom:85px;
   }

.vertical-bar{position:relative; bottom:80px;}

.yc-headings a
{
 text-decoration:none; 
 color:midnightblue;
 position:relative;
 font-size:17px;
 width:270px;
}

.yc-headings li
{
  display:block;
  position:relative;
  left:5px;
  padding:5px;
  top:10px;
  font-size:16px;
  height:30px;
  width:270px;
}

.yc-headings a:hover
{
  color:maroon;
 
  font-size:18px;
  transition:all linear 0.15s;
}


.main-header{ 
font-size:53px;
height:70px;
 width:50%;
 position:relative;
 left:165px;
 top:10px;
font-family:'tahoma';
 color:#1F5C3D;
 font-weight:light;
 }

.background{
 position:relative;
}


.pull-right li{
display:inline;
position:relative;
  bottom:35px;
 right:20px;
 font-size:17px;
 padding-right:25px;
 padding-left:25px;
 padding-top:10px;
 padding-bottom:10px;
 height:20px;
}

.pull-right a
{
 text-decoration:none;
 color:dimgray;
}

.pull-right li:hover
{
 background-color:#1F5C3D;
transition:all linear 0.4s;
 }

.pull-right li:hover > a
{
  color:black;
  font-size:20px;  
  transition:all linear 0.15s;
}

.heading{

position:relative;  
left:20px;
right:100px;
height:390px;
}


.search
{
  position: relative;
  bottom: 450px;
  font-size: 30px;
  left:100px;
}
 
.searchbox
{
  position:relative;
  left:75px;
}
 
.searchbox input{background-color: #f5f5f5; 
    font-size:15px;   
    margin-top: 0px; 
    color: #999; 
    letter-spacing: 1px; 
    padding:10px;
    font-family: calibri, helvetica, arial;
    width:150px;
    border-radius:5px;
}

.video
{
  position:absolute;
  top:62px;
  right:37px;
  background-color:black;
}

.logo
{
  position:absolute;
  width:125px;
  top:25px;
  left:20px;
}

.about-us
{
  position:relative;
  left:30px;
  top:20px;
}

.about-us p{font-size:17px;
     font-weight:light;}

.logout{ margin:50px 00px 20px 00px;}
