
a {
text-decoration : none;
display : block;  
}


a:visited {
/* pseudo classes in CSS */  
/* visited should come before active,hover,focus in source code as per cascade rule */   
color : green;  
}  

a:active,a:hover,a:focus {  
color : red;    
} 
