
html {
  background-image: url("../grey-sea.jpg"); 
}  

a {
  text-decoration : none; 
  /* display : block; */
}


a:visited {
  /* pseudo classes in CSS */  
  /* visited should come before active,hover,focus in source code as per cascade rule */   
  color : rgba(0,0,255,0.5); 
}  

a:hover {  
  color : red;    
} 

a:focus {
  color : #AE58D6; 
}  

a:active {
  color : #D6589B; 
}  

ol {
  text-align : center;
  line-height : 1.3rem;
  list-style-position : inside;
}  

