
html {
  background-image: url("Background/retailer-background.jpg"); 
}  

a {
  text-decoration : none; 
  /* display : block; */
}


a:visited {
  /* pseudo classes in CSS */  
  /* visited should come before active,hover,focus in source code as per cascade rule */   
  color : rgba(0,0,255,0.5); 
}  

a:hover {  
  color : red;    
} 

a:focus {
  color : #AE58D6; 
}  

a:active {
  color : #D6589B; 
}  

ol {
  text-align : center;
  line-height : 1.3rem;
  list-style-position : inside;
}  

.mainpage {
  margin : 0;
  padding : 0;
  width : 20rem;
  line-height : 2rem;
  text-align : center;
  list-style-type : none;
}  

.mainpage li a{
  display : block; 
} 

.mainpage li:hover {
  background : lightgreen; 
}
